

.query-hints {
  position: absolute;
  top:5rem;
  z-index: 1000;
  width: 15rem;
}

.query-hints li {
  list-style-type: none;
  font-size: 2rem;
  z-index: 10;
  background-color: #f9f5f3;
  cursor: pointer;
}

.query-hints li:hover {
  background-color: #f38e82;
}
